.exportButton {
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  border: 1px solid var(--color-outline);
  font-size: 14px;
  font-weight: 500;
  padding: 10px 16px;
  background-color: transparent;
}
